<div class="home-header">
    {{#if search}}
        <h1>You are searching for: <span>{{search}}</span></h1>
        {{#if toughtsQty}}
            <p>Founded <span>{{toughtsQty}}</span> thoughts</p>

        {{else}}
            <p>None thoughts are founded for <span>{{search}}</span> </p>

        {{/if}}
    {{else}}
        <h1>All <span>toughts</span>:</h1>
    {{/if}}

    <form action="/" method="get">
        <input type="text" name="search" placeholder="Searching for something?">
        <input type="submit" class="btn" value="Search">
    </form>

    <div class="order-container">
        <span>Order by:</span>
        <form action="/" method="get">
            <input type="hidden" name="search" value="{{this.search}}">
            <input type="hidden" name="order" value="new">
            <button type="submit"><i class="bi bi-arrow-up"></i></button>
        </form>
        <form action="/" method="get">
            <input type="hidden" name="search" value="{{this.search}}">
            <input type="hidden" name="order" value="old">
            <button type="submit"><i class="bi bi-arrow-down"></i></button>
        </form>
        <a href="/">Empty</a>
    </div>
</div>

<div class="toughts-container">
    {{#each toughts}}
        <span class="label">{{this.title}}</span>
        <figure>
            <blockquote>
                <figcaption> by <span>{{this.User.name}}</span></figcaption>
            </blockquote>
        </figure>
    {{/each}}
</div>